@import "normalize.css";
@import "layouts/responsive.css";
@import "components/misc.css";
@import "print.css";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Unica+One);
/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* HTML element (SMACSS base) rules */
/* Layout rules */
/* Component (SMACSS module) rules */
/* Optionally, add your own components here. */
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
* {
  font-family: 'Unica One', sans-serif;
}
body.page-node {
  background-color: #225533;
  font-size: 1.2em;
}
header#header {
  height: 125px;
  background-image: url('../images/mc_bkgd.png');
  padding: 0px;
}
div#page {
  background-color: #9ed8b1;
  border: solid 4px #fff;
}
div#main{
    background-color:#4F930E;
}
div#content {
  min-height: 600px;
  background-color: #e7f5ec;
}
footer#footer {
  background-color: #46b06a;
  color: #fff;
  height: 125px;
  padding: 5px;
  font-size: 12px;
}
a {
  text-decoration: none;
}
div#navigation {
  background-color: #314638;
  padding-top: 10px;
}
#navigation{
    height:48px;
}
.region-sidebar-first {
  padding-top: 10px;
}
#main-menu li {
  margin-right: 10px;
}
#main-menu a {
  color: #fff;
  outline: 0;
}
#main-menu a:hover {
  color: #f89406;
}
header a {
  color: white;
  size: 10px;
}
header a:hover {
  color: #f89406;
}
.block-title {
  padding: 2px;
  font-size: 1em;
  border: dotted white 1px;
}
#secondary-menu {
  padding: 2px;
  border: dotted white 1px;
  margin: 5px;
  text-size: 1em;
}

/*sidebar menu*/
ul#nice-menu-2{
    width:200px;
}
ul#nice-menu-2 > li{
    width:200px;
}
ul#nice-menu-2 > li > ul{
    width:180px;
    margin-left:-20px;
}

ul#nice-menu-2 > li > ul > li{
    width:180px;
    margin-left:-20px;
}

#search-block-form {
  float: right;
  margin-right: 20px;
  margin-top: 40px;
}
h2.node-title a {
  color: black;
  font-size: .9em;
}
nav#main-menu {
  border: 0px;
  outline: 0;
}
/* Node Gallery Thumbnail View */
div.field-items {
  margin: 15px;
  margin-top: 4px;
}
/* Node Gallery Navigator */
#node-gallery-item-navigator {
  font-size: 1em;
}
#node-gallery-item-navigator td {
  padding-left: 10px;
  padding-right: 10px;
}
#main-menu a.active-trail {
  color: #f89406;
}
a.username {
  color: #314638;
}
body {
  background-color: #225533;
}
div#navigation > ul.nice-menu li{
    background-color: #314638;
    color: #fff;
    border: none;
}
div#navigation > ul.nice-menu a{
    color:#fff;
}
ul.nice-menu-main-menu > li,
ul.nice-menu-main-menu > li.menuparent,
ul.nice-menu-main-menu > li.menuparent:hover{
    margin-top: -10px;
    height:48px;
    padding-left:5px;
    padding-right:5px;
    background-color: #314638;
    border:none;
}

ul.nice-menu-main-menu > li a{
    color: white;
    margin-top:5px;
}

ul.nice-menu-main-menu > li ul{
    margin-top:18px;
}

ul.nice-menu-main-menu > li ul li{
    background-color:  black;
}

ul.nice-menu-main-menu > li ul{
    border: none;
}
ul.nice-menu-main-menu > li ul li a{
    color: #fff;
}
ul.nice-menu-main-menu > li.active-trail{
    background-color: #000;
}
ul.nice-menu-main-menu > li.active-trail a{
    margin-top:3px;
}

ul.nice-menu-main-menu > li.active-trail:hover{
    background-color: #000;
}